* {
    margin: 0;
}

.elementor-16 .elementor-element.elementor-element-28727de > .elementor-container{
    min-height:590px;
}

body {
    overflow-x: none;
}

.after {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3vh;
    height: 200vh;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}


.info-boxes {
    width: 60%;
    height: 350px;
    padding-top: 1vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.box {
    transform: scale(0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    min-width: 100px;
    padding: 1%;
    border-radius: 20px;
    height: auto;
    min-height: 25vh;
    background-color: #ffffff;
    outline: red solid 2px;
    outline-color: red;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}

.box-title {
    color: red;
    transition: all 0.3s ease-in-out;
}

.box-description {
    text-align: center;
    width: 100%;
}

.box:hover {
    transform: scale(1);
    .box-title {
        color: #f1f1f1;
    }
    background-color: rgb(255, 28, 28);
    color: #f1f1f1;
}

[type=button]:focus, [type=button]:hover, [type=submit]:focus, [type=submit]:hover, button:focus, button:hover {
    color: #000; /* cor padrão */
    background-color: transparent; /* fundo transparente */
    text-decoration: none;
}

.aboutwrapper {
    max-width: 900px;
    width: 95%;
}

.elementor-16 .elementor-element.elementor-element-28727de:not(.elementor-motion-effects-element-type-background), .elementor-16 .elementor-element.elementor-element-28727de > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-image:url("../../2024/08/Mask-group-29-1.png");
    background-size: 100% auto;
    background-position:top center;
    background-repeat:no-repeat;
}
.elementor-16 .elementor-element.elementor-element-28727de{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-16 .elementor-element.elementor-element-28727de > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget .elementor-16 .elementor-element.elementor-element-6922f60.elementor-column .elementor-widget-wrap{
    align-items:center;
}
.elementor-16 .elementor-element.elementor-element-6922f60.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
    align-content:center;
    align-items:center;
}
.elementor-16 .elementor-element.elementor-element-6922f60.elementor-column > .elementor-widget-wrap{
    justify-content:center;
}
.elementor-16 .elementor-element.elementor-element-6922f60 > .elementor-element-populated{
    left: 62.5%;
    margin:0px 0px 0px 0px;
    --e-column-margin-right:0px;
    --e-column-margin-left:100px;
}
.elementor-16 .elementor-element.elementor-element-7963fc6{
    text-align:left;
    color:#FFFFFF;
    font-family:"Futo Sans", Sans-serif;
    font-size:79px;
    font-weight:700;
    line-height:75px;
}
.elementor-16 .elementor-element.elementor-element-5c1bcaa{
    text-align:left;
    color:#FFFFFF;
    font-family:"Futo Sans", Sans-serif;
    font-size:29px;
    font-weight:400;
    line-height:26px;
}
.elementor-16 .elementor-element.elementor-element-504a933 > .elementor-container{
    min-height:441px;
}
.elementor-16 .elementor-element.elementor-element-504a933{
    margin-top:30px;
    margin-bottom:30px;
}
.elementor-16 .elementor-element.elementor-element-17138e8 .elementor-wrapper{
    --video-aspect-ratio:1.77777;
}
.elementor-16 .elementor-element.elementor-element-5d28fa0 > .elementor-container{
    min-height:400px;
}
.elementor-16 .elementor-element.elementor-element-88338dc{
    text-align:left;
    color:#000000;
    font-family:"Futo Sans", Sans-serif;
    font-size:26px;
    font-weight:400;
    line-height:26px;
    width:var( --container-widget-width, 99.636% );
    max-width:99.636%;
    --container-widget-width:99.636%;
    --container-widget-flex-grow:0;
}
.elementor-16 .elementor-element.elementor-element-88338dc > .elementor-widget-container{
    margin:0px 0px 0px 100px;
}
.elementor-bc-flex-widget .elementor-16 .elementor-element.elementor-element-dc08e6c.elementor-column .elementor-widget-wrap{
    align-items:center;
}
.elementor-16 .elementor-element.elementor-element-dc08e6c.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
    align-content:center;
    align-items:center;
}
.elementor-16 .elementor-element.elementor-element-dc08e6c > .elementor-element-populated{
    margin:0px 0px 0px 0px;
    --e-column-margin-right:0px;
    --e-column-margin-left:0px;
}
.elementor-16 .elementor-element.elementor-element-acb891e > .elementor-element-populated{
    border-style:solid;
    border-width:1px 1px 1px 1px;
    border-color:#c41a17;
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin:0px 20px 0px 0px;
    --e-column-margin-right:20px;
    --e-column-margin-left:0px;
    padding:40px 10px 40px 10px;
}
.elementor-16 .elementor-element.elementor-element-acb891e > .elementor-element-populated, .elementor-16 .elementor-element.elementor-element-acb891e > .elementor-element-populated > .elementor-background-overlay, .elementor-16 .elementor-element.elementor-element-acb891e > .elementor-background-slideshow{
    border-radius:15px 15px 15px 15px;
}
.elementor-16 .elementor-element.elementor-element-acb891e > .elementor-element-populated > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16 .elementor-element.elementor-element-9482a17{
    --icon-box-icon-margin:15px;
}
.elementor-16 .elementor-element.elementor-element-9482a17 .elementor-icon-box-title{
    color:#FF0000;
}
.elementor-16 .elementor-element.elementor-element-9482a17 .elementor-icon-box-title, .elementor-16 .elementor-element.elementor-element-9482a17 .elementor-icon-box-title a{
    font-family:"Futo Sans", Sans-serif;
    font-size:42px;
    font-weight:700;
}
.elementor-16 .elementor-element.elementor-element-9482a17 .elementor-icon-box-description{
    color:#000000;
    font-family:"Futo Sans", Sans-serif;
    font-size:20px;
    font-weight:700;
}
.elementor-bc-flex-widget .elementor-16 .elementor-element.elementor-element-a8c7ed2.elementor-column .elementor-widget-wrap{
    align-items:center;
}
.elementor-16 .elementor-element.elementor-element-a8c7ed2.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
    align-content:center;
    align-items:center;
}
.elementor-16 .elementor-element.elementor-element-a8c7ed2.elementor-column > .elementor-widget-wrap{
    justify-content:center;
}
.elementor-16 .elementor-element.elementor-element-a8c7ed2 > .elementor-element-populated{
    border-style:solid;
    border-width:1px 1px 1px 1px;
    border-color:#c41a17;
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin:0px 0px 0px 20px;
    --e-column-margin-right:0px;
    --e-column-margin-left:20px;
    padding:40px 10px 40px 10px;
}
.elementor-16 .elementor-element.elementor-element-a8c7ed2 > .elementor-element-populated, .elementor-16 .elementor-element.elementor-element-a8c7ed2 > .elementor-element-populated > .elementor-background-overlay, .elementor-16 .elementor-element.elementor-element-a8c7ed2 > .elementor-background-slideshow{
    border-radius:15px 15px 15px 15px;
}
.elementor-16 .elementor-element.elementor-element-a8c7ed2 > .elementor-element-populated > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16 .elementor-element.elementor-element-83597f7{
    --icon-box-icon-margin:15px;
    width:var( --container-widget-width, 93.742% );
    max-width:93.742%;
    --container-widget-width:93.742%;
    --container-widget-flex-grow:0;
}
.elementor-16 .elementor-element.elementor-element-83597f7 .elementor-icon-box-title{
    color:#c41a17;
}
.elementor-16 .elementor-element.elementor-element-83597f7 .elementor-icon-box-title, .elementor-16 .elementor-element.elementor-element-83597f7 .elementor-icon-box-title a{
    font-family:"Futo Sans", Sans-serif;
    font-size:42px;
    font-weight:700;
}
.elementor-16 .elementor-element.elementor-element-83597f7 .elementor-icon-box-description{
    color:#000000;
    font-family:"Futo Sans", Sans-serif;
    font-size:20px;
    font-weight:700;
}
.elementor-16 .elementor-element.elementor-element-230e2b1 > .elementor-container{
    min-height:550px;
}
.elementor-16 .elementor-element.elementor-element-230e2b1:not(.elementor-motion-effects-element-type-background), .elementor-16 .elementor-element.elementor-element-230e2b1 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color:#c41a17;
}
.elementor-16 .elementor-element.elementor-element-230e2b1{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-16 .elementor-element.elementor-element-230e2b1 > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16 .elementor-element.elementor-element-8ed38ad > .elementor-container{
    min-height:400px;
}
.elementor-16 .elementor-element.elementor-element-8ed38ad:not(.elementor-motion-effects-element-type-background), .elementor-16 .elementor-element.elementor-element-8ed38ad > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-image:url("../../2024/08/Mask-group-19-1.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}
.elementor-16 .elementor-element.elementor-element-8ed38ad{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-16 .elementor-element.elementor-element-8ed38ad > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16 .elementor-element.elementor-element-dac56b6{
    text-align:left;
    color:#FFFFFF;
    font-family:"Futo Sans", Sans-serif;
    font-size:26px;
    font-weight:400;
    line-height:26px;
    width:var( --container-widget-width, 92.614% );
    max-width:92.614%;
    --container-widget-width:92.614%;
    --container-widget-flex-grow:0;
}
.elementor-16 .elementor-element.elementor-element-dac56b6 > .elementor-widget-container{
    margin:0px 0px 50px 100px;
}
.elementor-16 .elementor-element.elementor-element-a0dc959 .elementor-button{
    font-family:"Futo Sans", Sans-serif;
    font-size:22px;
    font-weight:700;
    fill:#000000;
    color:#000000;
    background-color:#ffffff;
    border-radius:15px 15px 15px 15px;
}
.elementor-16 .elementor-element.elementor-element-a0dc959 > .elementor-widget-container{
    margin:0px 0px 0px 100px;
}
.elementor-16 .elementor-element.elementor-element-b86d0bd > .elementor-container{
    min-height:500px;
}
.elementor-16 .elementor-element.elementor-element-38163a3{
    text-align:right;
}
.elementor-16 .elementor-element.elementor-element-38163a3 img{
    width:90%;
}
.elementor-16 .elementor-element.elementor-element-6c42d74{
    text-align:left;
    color:#000000;
    font-family:"Futo Sans", Sans-serif;
    font-size:26px;
    font-weight:400;
    line-height:26px;
    width:var( --container-widget-width, 86.975% );
    max-width:86.975%;
    --container-widget-width:86.975%;
    --container-widget-flex-grow:0;
}
.elementor-16 .elementor-element.elementor-element-6c42d74 > .elementor-widget-container{
    margin:0px 0px 50px 100px;
}
.elementor-16 .elementor-element.elementor-element-eec9cda .elementor-button{
    font-family:"Futo Sans", Sans-serif;
    font-size:22px;
    font-weight:700;
    fill:#FFFFFF;
    color:#FFFFFF;
    background-color:#c41a17;
    border-radius:15px 15px 15px 15px;
}
.elementor-16 .elementor-element.elementor-element-eec9cda > .elementor-widget-container{
    margin:0px 0px 0px 100px;
}
.elementor-16 .elementor-element.elementor-element-460dc52 > .elementor-container{
    min-height:400px;
}
.elementor-bc-flex-widget .elementor-16 .elementor-element.elementor-element-5355e75.elementor-column .elementor-widget-wrap{
    align-items:center;
}
.elementor-16 .elementor-element.elementor-element-5355e75.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
    align-content:center;
    align-items:center;
}
.elementor-16 .elementor-element.elementor-element-f4e4f52{
    text-align:left;
    color:#000000;
    font-family:"Futo Sans", Sans-serif;
    font-size:26px;
    font-weight:400;
    line-height:26px;
    width:var( --container-widget-width, 90.591% );
    max-width:90.591%;
    --container-widget-width:90.591%;
    --container-widget-flex-grow:0;
}
.elementor-16 .elementor-element.elementor-element-f4e4f52 > .elementor-widget-container{
    margin:0px 0px 50px 100px;
}
.elementor-16 .elementor-element.elementor-element-e5c5828 .elementor-button{
    font-family:"Futo Sans", Sans-serif;
    font-size:22px;
    font-weight:700;
    fill:#FFFFFF;
    color:#FFFFFF;
    background-color:#c41a17;
    border-radius:15px 15px 15px 15px;
}
.elementor-16 .elementor-element.elementor-element-e5c5828 > .elementor-widget-container{
    margin:0px 0px 0px 100px;
}
.elementor-16 .elementor-element.elementor-element-3661ef7{
    text-align:left;
}
.elementor-16 .elementor-element.elementor-element-3661ef7 img{
    width:90%;
}
@media(min-width:768px){
    .elementor-16 .elementor-element.elementor-element-6922f60{
        width:64%;
        top: 40%;
    }
    .elementor-16 .elementor-element.elementor-element-ebd763d{
        width:35.547%;
    }
    .elementor-16 .elementor-element.elementor-element-32b870f{
        width:49.943%;
    }
    .elementor-16 .elementor-element.elementor-element-dc08e6c{
        width:50.057%;
    }
}
@media(max-width:1024px) and (min-width:768px){
    .elementor-16 .elementor-element.elementor-element-dc08e6c{
        width:48%;
    }
}
@media(min-width:1025px){
    .elementor-16 .elementor-element.elementor-element-28727de:not(.elementor-motion-effects-element-type-background), .elementor-16 .elementor-element.elementor-element-28727de > .elementor-motion-effects-container > .elementor-motion-effects-layer{
        background-attachment:relative;
    }
    .elementor-16 .elementor-element.elementor-element-8ed38ad:not(.elementor-motion-effects-element-type-background), .elementor-16 .elementor-element.elementor-element-8ed38ad > .elementor-motion-effects-container > .elementor-motion-effects-layer{
        background-attachment:fixed;
    }
}
@media(max-width:1024px){
    .elementor-16 .elementor-element.elementor-element-7963fc6{
        width:var( --container-widget-width, 361.688px );
        max-width:361.688px;
        --container-widget-width:361.688px;
        --container-widget-flex-grow:0;
    }
    .elementor-16 .elementor-element.elementor-element-5c1bcaa{
        width:var( --container-widget-width, 347.688px );
        max-width:347.688px;
        --container-widget-width:347.688px;
        --container-widget-flex-grow:0;
    }
    .elementor-16 .elementor-element.elementor-element-88338dc{
        font-size:20px;
        width:var( --container-widget-width, 350.766px );
        max-width:350.766px;
        --container-widget-width:350.766px;
        --container-widget-flex-grow:0;
    }
    .elementor-16 .elementor-element.elementor-element-88338dc > .elementor-widget-container{
        margin:0px 0px 0px 0px;
    }
    .elementor-16 .elementor-element.elementor-element-9482a17 .elementor-icon-box-title, .elementor-16 .elementor-element.elementor-element-9482a17 .elementor-icon-box-title a{
        font-size:30px;
    }
    .elementor-16 .elementor-element.elementor-element-9482a17 .elementor-icon-box-description{
        font-size:15px;
    }
    .elementor-16 .elementor-element.elementor-element-83597f7 .elementor-icon-box-title, .elementor-16 .elementor-element.elementor-element-83597f7 .elementor-icon-box-title a{
        font-size:30px;
    }
    .elementor-16 .elementor-element.elementor-element-83597f7 .elementor-icon-box-description{
        font-size:15px;
    }
    .elementor-16 .elementor-element.elementor-element-83597f7{
        width:var( --container-widget-width, 129.656px );
        max-width:129.656px;
        --container-widget-width:129.656px;
        --container-widget-flex-grow:0;
    }
    .elementor-16 .elementor-element.elementor-element-dac56b6{
        font-size:20px;
    }
    .elementor-16 .elementor-element.elementor-element-a0dc959 .elementor-button{
        font-size:16px;
    }
    .elementor-16 .elementor-element.elementor-element-6c42d74{
        font-size:20px;
        width:var( --container-widget-width, 362.188px );
        max-width:362.188px;
        --container-widget-width:362.188px;
        --container-widget-flex-grow:0;
    }
    .elementor-16 .elementor-element.elementor-element-eec9cda .elementor-button{
        font-size:16px;
    }
    .elementor-16 .elementor-element.elementor-element-f4e4f52{
        font-size:20px;
    }
    .elementor-16 .elementor-element.elementor-element-e5c5828 .elementor-button{
        font-size:16px;
    }
    .elementor-16 .elementor-element.elementor-element-e5c5828{
        width:var( --container-widget-width, 294.5px );
        max-width:294.5px;
        --container-widget-width:294.5px;
        --container-widget-flex-grow:0;
    }
}
@media(max-width:767px){
    .elementor-16 .elementor-element.elementor-element-28727de > .elementor-container{
        min-height:600px;
    }
    .elementor-16 .elementor-element.elementor-element-28727de:not(.elementor-motion-effects-element-type-background), .elementor-16 .elementor-element.elementor-element-28727de > .elementor-motion-effects-container > .elementor-motion-effects-layer{
        background-image:url("../../2024/08/Mask-group-30.png");
    }

    .title-wrapper {
        display: none;
    }

    .box:hover {
        transform: scale(0.95);
    }

    .box:focus {
        outline: none;
    }

    .box-description {
        width: 95%;
    }

    .aboutus-wrapper {
        position: relative;
        left: 32%;
    }

    .info-boxes {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .box {
        max-width: none;
    }

    .elementor-16 .elementor-element.elementor-element-6922f60{
        width:100%;
    }
    .elementor-bc-flex-widget .elementor-16 .elementor-element.elementor-element-6922f60.elementor-column .elementor-widget-wrap{
        align-items:center;
    }
    .elementor-16 .elementor-element.elementor-element-6922f60.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
        align-content:center;
        align-items:center;
    }
    .elementor-16 .elementor-element.elementor-element-6922f60.elementor-column > .elementor-widget-wrap{
        justify-content:center;
    }
    .elementor-16 .elementor-element.elementor-element-6922f60 > .elementor-element-populated{
        margin:0px 0px 0px 0px;
        --e-column-margin-right:0px;
        --e-column-margin-left:0px;
    }
    .elementor-16 .elementor-element.elementor-element-7963fc6{
        text-align:center;
        font-size:45px;
        line-height:1em;
        width:var( --container-widget-width, 299px );
        max-width:299px;
        --container-widget-width:299px;
        --container-widget-flex-grow:0;
    }
    .elementor-16 .elementor-element.elementor-element-7963fc6 > .elementor-widget-container{
        margin:400px 0px 0px 0px;
    }
    .elementor-16 .elementor-element.elementor-element-5c1bcaa{
        text-align:center;
        font-size:20px;
        line-height:1.1em;
        width:var( --container-widget-width, 227px );
        max-width:227px;
        --container-widget-width:227px;
        --container-widget-flex-grow:0;
    }
    .elementor-16 .elementor-element.elementor-element-504a933 > .elementor-container{
        min-height:250px;
    }
    .elementor-16 .elementor-element.elementor-element-88338dc{
        text-align:center;
        font-size:18px;
        line-height:1.1em;
        --container-widget-width:349px;
        --container-widget-flex-grow:0;
        width:var( --container-widget-width, 349px );
        max-width:349px;
    }
    .elementor-16 .elementor-element.elementor-element-88338dc > .elementor-widget-container{
        margin:20px 0px 0px 0px;
    }
    .elementor-bc-flex-widget .elementor-16 .elementor-element.elementor-element-acb891e.elementor-column .elementor-widget-wrap{
        align-items:center;
    }
    .elementor-16 .elementor-element.elementor-element-acb891e.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
        align-content:center;
        align-items:center;
    }
    .elementor-16 .elementor-element.elementor-element-acb891e.elementor-column > .elementor-widget-wrap{
        justify-content:center;
    }
    .elementor-16 .elementor-element.elementor-element-acb891e > .elementor-element-populated{
        margin:0px 20px 0px 20px;
        --e-column-margin-right:20px;
        --e-column-margin-left:20px;
        padding:30px 30px 30px 30px;
    }
    .elementor-16 .elementor-element.elementor-element-9482a17 .elementor-icon-box-description{
        line-height:1.1em;
    }
    .elementor-16 .elementor-element.elementor-element-9482a17{
        width:var( --container-widget-width, 187px );
        max-width:187px;
        --container-widget-width:187px;
        --container-widget-flex-grow:0;
    }
    .elementor-16 .elementor-element.elementor-element-a8c7ed2 > .elementor-element-populated{
        margin:30px 20px 20px 20px;
        --e-column-margin-right:20px;
        --e-column-margin-left:20px;
        padding:30px 30px 30px 30px;
    }
    .elementor-16 .elementor-element.elementor-element-83597f7 .elementor-icon-box-description{
        line-height:1.1em;
    }
    .elementor-16 .elementor-element.elementor-element-83597f7{
        width:var( --container-widget-width, 138.641px );
        max-width:138.641px;
        --container-widget-width:138.641px;
        --container-widget-flex-grow:0;
    }
    .elementor-16 .elementor-element.elementor-element-10ae615 > .elementor-widget-container{
        margin:20px 0px 0px 0px;
    }
    .elementor-16 .elementor-element.elementor-element-f3be4b1 > .elementor-widget-container{
        margin:0px 0px 20px 0px;
    }
    .elementor-16 .elementor-element.elementor-element-8ed38ad > .elementor-container{
        min-height:230px;
    }
    .elementor-bc-flex-widget .elementor-16 .elementor-element.elementor-element-2102d3f.elementor-column .elementor-widget-wrap{
        align-items:center;
    }
    .elementor-16 .elementor-element.elementor-element-2102d3f.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
        align-content:center;
        align-items:center;
    }
    .elementor-16 .elementor-element.elementor-element-2102d3f.elementor-column > .elementor-widget-wrap{
        justify-content:center;
    }
    .elementor-16 .elementor-element.elementor-element-dac56b6{
        text-align:center;
        font-size:18px;
        line-height:1.1em;
        width:100%;
        max-width:100%;
    }
    .elementor-16 .elementor-element.elementor-element-dac56b6 > .elementor-widget-container{
        margin:0px 0px 0px 0px;
    }
    .elementor-16 .elementor-element.elementor-element-a0dc959 .elementor-button{
        font-size:16px;
    }
    .elementor-16 .elementor-element.elementor-element-a0dc959 > .elementor-widget-container{
        margin:0px 0px 0px 0px;
    }
    .elementor-16 .elementor-element.elementor-element-38163a3{
        text-align:center;
    }
    .elementor-16 .elementor-element.elementor-element-6c42d74{
        text-align:center;
        font-size:18px;
        line-height:1.1em;
        width:100%;
        max-width:100%;
    }
    .elementor-16 .elementor-element.elementor-element-6c42d74 > .elementor-widget-container{
        margin:0px 0px 0px 0px;
    }
    .elementor-16 .elementor-element.elementor-element-eec9cda .elementor-button{
        font-size:16px;
    }
    .elementor-16 .elementor-element.elementor-element-eec9cda > .elementor-widget-container{
        margin:0px 0px 0px 0px;
    }
    .elementor-16 .elementor-element.elementor-element-460dc52 > .elementor-container{
        min-height:400px;
    }
    .elementor-16 .elementor-element.elementor-element-f4e4f52{
        text-align:center;
        font-size:18px;
        line-height:1.1em;
        width:100%;
        max-width:100%;
    }
    .elementor-16 .elementor-element.elementor-element-f4e4f52 > .elementor-widget-container{
        margin:0px 0px 0px 0px;
    }
    .elementor-16 .elementor-element.elementor-element-e5c5828 .elementor-button{
        font-size:16px;
    }
    .elementor-16 .elementor-element.elementor-element-e5c5828 > .elementor-widget-container{
        margin:0px 0px 0px 0px;
    }
    .elementor-16 .elementor-element.elementor-element-e5c5828{
        width:100%;
        max-width:100%;
    }
    .elementor-16 .elementor-element.elementor-element-3661ef7{
        text-align:center;
    }
}
/* Start Custom Fonts CSS */
@font-face {
     font-family: 'Futo Sans';
     font-style: normal;
     font-weight: normal;
     font-display: auto;
     src: url('../../2024/08/FutoSans-Regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */
