img {
    border-radius: 20px !important; 
    outline-color: red;
    outline-style: solid;
    outline-width: 1.75px;
}

.logo-image {
    outline: none;
    border-radius: 0;
}

.facebook-icon {
    width: 33px;
    outline: none;
    border-radius: 0 !important; 
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
}

.facebook-icon2 {
    outline: none;
    border-radius: 0 !important;
    width: 24px;
}

.priority-facebook {
    background-color: transparent !important; 
}